/**
 * Editor styles for the admin
 */

[data-type="responsive-blocks/ra-columns"] {
}

.editor-styles-wrapper [data-type="responsive-blocks/ra-columns"] .wp-block {
	max-width: 100%;
}

.edit-post-visual-editor .editor-block-list__block [data-type="responsive-blocks/ra-column"] {
    margin-left: 0;
	margin-right: 0;
}

.ra-layout-column-wrap-admin > .editor-inner-blocks > .editor-block-list__layout {
	display: grid;
    grid-template-rows: 1fr;
    grid-gap: 0 2em;
    min-height: 0;
}

/* Grid gap classes */

.ra-block-layout-column-gap-0 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 0;
}

.ra-block-layout-column-gap-1 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 1em;
}

.ra-block-layout-column-gap-2 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 2em;
}

.ra-block-layout-column-gap-3 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 3em;
}

.ra-block-layout-column-gap-4 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 4em;
}

.ra-block-layout-column-gap-5 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 5em;
}

.ra-block-layout-column-gap-6 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 6em;
}

.ra-block-layout-column-gap-7 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 7em;
}

.ra-block-layout-column-gap-8 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 8em;
}

.ra-block-layout-column-gap-9 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 9em;
}

.ra-block-layout-column-gap-10 > .editor-inner-blocks > .editor-block-list__layout {
	grid-gap: 0 10em;
}

/* Grid column classes. */

/* IE 11 support - Rows and column location must be explicitly defined. */

.ra-layout-column-wrap-admin .editor-block-list__layout [data-type="responsive-blocks/ra-column"]:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: col1;
}

.ra-layout-column-wrap-admin .editor-block-list__layout [data-type="responsive-blocks/ra-column"]:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: col2;
}

.ra-layout-column-wrap-admin .editor-block-list__layout [data-type="responsive-blocks/ra-column"]:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-area: col3;
}

.ra-layout-column-wrap-admin .editor-block-list__layout [data-type="responsive-blocks/ra-column"]:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 4;
	grid-area: col4;
}

.ra-layout-column-wrap-admin .editor-block-list__layout [data-type="responsive-blocks/ra-column"]:nth-child(5) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
	grid-area: col5;
}

.ra-layout-column-wrap-admin .editor-block-list__layout [data-type="responsive-blocks/ra-column"]:nth-child(6) {
	-ms-grid-row: 1;
	-ms-grid-column: 6;
	grid-area: col6;
}

/* One column grid. */

.ra-layout-columns-1 .editor-block-list__layout {
	grid-template-columns: 1fr;
	grid-template-areas: "col1";
}

/* Two column grid. */

.ra-layout-columns-2 .editor-block-list__layout {
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "col1 col2";
}

.ra-2-col-wideleft .editor-block-list__layout {
	grid-template-columns: 2fr 1fr;
}

.ra-2-col-wideright .editor-block-list__layout {
	grid-template-columns: 1fr 2fr;
}

/* Three column grid. */

.ra-layout-columns-3 .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3";
}

.ra-3-col-widecenter .editor-block-list__layout {
	grid-template-columns: 1fr 2fr 1fr;
}

.ra-3-col-wideleft .editor-block-list__layout {
	grid-template-columns: 2fr 1fr 1fr;
}

.ra-3-col-wideright .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 2fr;
}

/* Four column grid. */

.ra-layout-columns-4 .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3 col4";
}

.ra-4-col-wideleft .editor-block-list__layout {
	grid-template-columns: 2fr 1fr 1fr 1fr;
}

.ra-4-col-wideright .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 2fr;
}

/* Five column grid. */

.ra-layout-columns-5 .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3 col4 col5";
}

.ra-layout-columns-6 .editor-block-list__layout {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "col1 col2 col3 col4 col5 col6";
}

.block-editor .ra-layout-columns-4,
.block-editor .ra-layout-columns-5,
.block-editor .ra-layout-columns-6 {
	overflow-x: visible;
}

/* Alignment styles */

.ra-block-layout-column .editor-block-list__block[data-align=full],
.ra-block-layout-column .editor-block-list__block[data-align=wide] {
	margin-left: auto;
	margin-right: auto;
}

[data-type="responsive-blocks/ra-column"] {
	&.ra-is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.ra-is-vertically-aligned-center {
		align-self: center;
	}

	&.ra-is-vertically-aligned-bottom {
		align-self: flex-end;
	}
}

[data-type="responsive-blocks/ra-columns"] {
	.components-placeholder {
		padding: 30px;
	}

	.components-placeholder__fieldset {
		max-width: 100%;
	}
}

.ra-column-selector-button-back {
	margin-top: 23px;
	line-height: 1.4;
	display: inherit;
	vertical-align: middle;
	width: 100%;

	&:hover {
		color: #007cba;
	}

	&:active,
	&:focus,
	&:focus:enabled {
		background-color: transparent;
		box-shadow: none;
	}

	&:before {
		content: "\2190";
		margin-right: 5px;
	}

	svg {
		width: 16px;
    	margin-right: 5px;
	}
}

.ra-column-select-panel {
	.components-button-group {
		margin-bottom: 4px;
	}
	.components-button.is-small {
		height: auto;
		padding: 8px;
		margin: 0 5px 5px 0;
	}
	.components-base-control__field + .components-base-control__help {
		margin-top: 8px;
	}
}

.ra-columns-center .ra-layout-column-wrap-admin {
	margin: 0 auto;
}

.ra-block-layout-column .wp-block-image,
.ra-block-layout-column .wp-block-image .components-resizable-box__container {
	max-width: 100% !important;
	display: block;
}
