* text=auto !eol
languages/responsive-addons-ar.mo -text
languages/responsive-addons-ar.po -text
languages/responsive-addons-bg_BG.mo -text
languages/responsive-addons-bg_BG.po -text
languages/responsive-addons-ca.mo -text
languages/responsive-addons-ca.po -text
languages/responsive-addons-cs_CZ.mo -text
languages/responsive-addons-cs_CZ.po -text
languages/responsive-addons-cy.mo -text
languages/responsive-addons-cy.po -text
languages/responsive-addons-da_DK.mo -text
languages/responsive-addons-da_DK.po -text
languages/responsive-addons-de_DE.mo -text
languages/responsive-addons-de_DE.po -text
languages/responsive-addons-el.mo -text
languages/responsive-addons-el.po -text
languages/responsive-addons-el_GR.mo -text
languages/responsive-addons-el_GR.po -text
languages/responsive-addons-es_ES.mo -text
languages/responsive-addons-es_ES.po -text
languages/responsive-addons-es_MX.mo -text
languages/responsive-addons-es_MX.po -text
languages/responsive-addons-et.mo -text
languages/responsive-addons-et.po -text
languages/responsive-addons-fa_IR.mo -text
languages/responsive-addons-fa_IR.po -text
languages/responsive-addons-fi.mo -text
languages/responsive-addons-fi.po -text
languages/responsive-addons-fr_FR.mo -text
languages/responsive-addons-fr_FR.po -text
languages/responsive-addons-he_IL.mo -text
languages/responsive-addons-he_IL.po -text
languages/responsive-addons-hi_IN.mo -text
languages/responsive-addons-hi_IN.po -text
languages/responsive-addons-hr.mo -text
languages/responsive-addons-hr.po -text
languages/responsive-addons-hu_HU.mo -text
languages/responsive-addons-hu_HU.po -text
languages/responsive-addons-id_ID.mo -text
languages/responsive-addons-id_ID.po -text
languages/responsive-addons-is_IS.mo -text
languages/responsive-addons-is_IS.po -text
languages/responsive-addons-it_IT.mo -text
languages/responsive-addons-it_IT.po -text
languages/responsive-addons-ja.mo -text
languages/responsive-addons-ja.po -text
languages/responsive-addons-ko_KR.mo -text
languages/responsive-addons-ko_KR.po -text
languages/responsive-addons-lt_LT.mo -text
languages/responsive-addons-lt_LT.po -text
languages/responsive-addons-lv.mo -text
languages/responsive-addons-lv.po -text
languages/responsive-addons-ms_MY.mo -text
languages/responsive-addons-ms_MY.po -text
languages/responsive-addons-nb_NO.mo -text
languages/responsive-addons-nb_NO.po -text
languages/responsive-addons-nl_NL.mo -text
languages/responsive-addons-nl_NL.po -text
languages/responsive-addons-pl_PL.mo -text
languages/responsive-addons-pl_PL.po -text
languages/responsive-addons-pt_BR.mo -text
languages/responsive-addons-pt_BR.po -text
languages/responsive-addons-pt_PT.mo -text
languages/responsive-addons-pt_PT.po -text
languages/responsive-addons-ro_RO.mo -text
languages/responsive-addons-ro_RO.po -text
languages/responsive-addons-ru_RU.mo -text
languages/responsive-addons-ru_RU.po -text
languages/responsive-addons-sk_SK.mo -text
languages/responsive-addons-sk_SK.po -text
languages/responsive-addons-sl_SI.mo -text
languages/responsive-addons-sl_SI.po -text
languages/responsive-addons-sr_RS.mo -text
languages/responsive-addons-sr_RS.po -text
languages/responsive-addons-sv_SE.mo -text
languages/responsive-addons-sv_SE.po -text
languages/responsive-addons-tr.mo -text
languages/responsive-addons-tr.po -text
languages/responsive-addons-zh_CN.mo -text
languages/responsive-addons-zh_CN.po -text
languages/responsive-addons-zh_TW.mo -text
languages/responsive-addons-zh_TW.po -text
languages/responsive-addons.pot -text
/readme.txt -text
templates/settings.php -text
/uninstall.php -text
