/**
 * Editor styles for the admin
 */

.ra-block-testimonial {
    margin-bottom: 0;

    .components-button:not(:disabled):not([aria-disabled=true]):focus {
        background: none;
        box-shadow: none;
    }
}

.editor-block-list__layout [data-type="responsive-blocks/ra-testimonial"] {
    margin-bottom: 1.2em;
}

.ra-testimonial-info {
    h2.editor-rich-text__tinymce {
        line-height: 1.2;
    }

    p.editor-rich-text__tinymce {
        line-height: 1.6;
    }

    .ra-testimonial-title + .ra-testimonial-title {
        line-height: 1.8;
    }
}