/**
 * Common styles
 * Loads on front end and back end
 */

// Variables
$black: #293038;
$accent: #5a3fd6;
$lightgray: #626e81;

/* Font size styles */
@media only screen and (min-width: 600px) {
    div[class*="wp-block-responsive"].ra-font-size-14 {
      &.ra-block-testimonial p,
      &.ra-block-notice p,
      &.ra-block-profile p,
      &.ra-block-accordion p,
      &.ra-block-cta p {
        font-size: 14px;
      }
    }

    div[class*="wp-block-responsive"].ra-font-size-15 {
      &.ra-block-testimonial p,
      &.ra-block-notice p,
      &.ra-block-profile p,
      &.ra-block-accordion p,
      &.ra-block-cta p {
        font-size: 15px;
      }
    }

    div[class*="wp-block-responsive"].ra-font-size-16 {
      &.ra-block-testimonial p,
      &.ra-block-notice p,
      &.ra-block-profile p,
      &.ra-block-accordion p,
      &.ra-block-cta p {
        font-size: 16px;
      }
    }

    div[class*="wp-block-responsive"].ra-font-size-17 {
      &.ra-block-testimonial p,
      &.ra-block-notice p,
      &.ra-block-profile p,
      &.ra-block-accordion p,
      &.ra-block-cta p {
        font-size: 17px;
      }
    }

    div[class*="wp-block-responsive"].ra-font-size-18 {
      &.ra-block-testimonial p,
      &.ra-block-notice p,
      &.ra-block-profile p,
      &.ra-block-accordion p,
      &.ra-block-cta p {
        font-size: 18px;
      }
    }

    div[class*="wp-block-responsive"].ra-font-size-19 {
      &.ra-block-testimonial p,
      &.ra-block-notice p,
      &.ra-block-profile p,
      &.ra-block-accordion p,
      &.ra-block-cta p {
        font-size: 19px;
      }
    }

    div[class*="wp-block-responsive"].ra-font-size-20 {
      &.ra-block-testimonial p,
      &.ra-block-notice p,
      &.ra-block-profile p,
      &.ra-block-accordion p,
      &.ra-block-cta p {
        font-size: 20px;
      }
    }

    div[class*="wp-block-responsive"].ra-font-size-21 {
      &.ra-block-testimonial p,
      &.ra-block-notice p,
      &.ra-block-profile p,
      &.ra-block-accordion p,
      &.ra-block-cta p {
        font-size: 21px;
      }
    }

    div[class*="wp-block-responsive"].ra-font-size-22 {
      &.ra-block-testimonial p,
      &.ra-block-notice p,
      &.ra-block-profile p,
      &.ra-block-accordion p,
      &.ra-block-cta p {
        font-size: 22px;
      }
    }

    div[class*="wp-block-responsive"].ra-font-size-23 {
      &.ra-block-testimonial p,
      &.ra-block-notice p,
      &.ra-block-profile p,
      &.ra-block-accordion p,
      &.ra-block-cta p {
        font-size: 23px;
      }
    }

    div[class*="wp-block-responsive"].ra-font-size-24 {
      &.ra-block-testimonial p,
      &.ra-block-notice p,
      &.ra-block-profile p,
      &.ra-block-accordion p,
      &.ra-block-cta p {
        font-size: 24px;
      }
    }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

@media only screen and (min-width: 600px) {
  .wp-block-columns .layout-column-1,
  .wp-block-columns .layout-column-2 {
    margin-right: 5%;
  }
}

.wp-block-image {
  margin-bottom: 1.2em;
}

.ra-text-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}
